* {margin:0; padding:0; box-sizing:border-box;}

.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.ac {
  display: flex;
  align-items: center;
}

.red {
  color: red;
}

.jc {
  justify-content: center;
}

.parent .child1 {
    display: flex;
}

.parent .child2 {
    display: flex;
}

.glitch {
    font-weight: bold;
    font-size: 24px;
}

.user:hover {
    font-weight: 200;
}

.bench {
    font-weight: bold;
    font-size: 24px;
    display: flex;
}

.w-inherit {
  width: inherit;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
