* {font-family:'Roboto';}

.first-name {
    font-family: 'Roboto';
    font-size: 24px;
}

.last-name {
    font-family: 'Roboto';
    font-size: 18px;
}

.user-profile .photo {
    width: 24px;
    height: 24px;
}

.user-profile {
    margin-left: 24px;
}

.title {
    font-family: 'Roboto';
}

.header-wrapper {
    height: 24px;
    width: 24px;
}

.header-container {
    height: 24px;
    width: 24px;
    font-weight: 200;
}

.header-name {
    height: 24px;
    width: 24px;
    font-family: 'Roboto';
}
