.link-primary:link {
  text-decoration: none;
  color: #2196f3;
}

.link-primary:hover {
  text-decoration: underline;
}

.link-primary {
  font-weight:bold;
}

.link-primary {
  font-size: 11px;
}

.test {
  display: flex;
}

.alive {
    display: flex;
}

.half {
    font-weight:bold;
}

.test {
  align-items: center;
}

.flex {
    display: flex;
}

.rant {
    display: flex;
    font-weight: 50000;
}
