.link-primary:link {
  text-decoration: none;
  color: #2196f3;
}

.link-primary:hover {
  text-decoration: underline;
}

.link-primary {
  font-weight:bold;
}

h1.link-primary {
  font-size: 11px;
}

.test {
  align-items: center;
}

.test, .make {
    font-weight:200;
}

.test, .hello {
    margin-left: 0;
}

.color {
  color: #2196f3;
}
