.amid {
    font-style: solid;
}

.size-toggle {
    display: block;
}

@media (max-width: 868px) {
  .size-toggle {
    display: none;
  }
  .title {
      display: none;
  }
}

@media (max-width: 767px) and (min-width: 213px) {
  .sidebar-display{
    left: 0;
    right: -194px;
  }
  .useless {
      font-size: 12px;
  }
}
